*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    height: 800px;
    width: 1600px;
}


.box{
    margin-top: 50px;
    border: 3px solid #cccccc;
    height: 50%;
    width: 50%;
}


#profile_pic img{
    border: 3px solid #cccccc;
    border-radius: 50%;
    position: fixed;
    height:100px;
    top: 95px;
    left: 430px;
}
    

.top_bar{
    background: #18a2b8;
    border: 3px #18a2b8;
    height: 25%;

}

.bot_bar{
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;
    height:75%;
    margin-left:  40px;
}

.textbox{
    width: 75%;

}

.location{
    display: flex;
    justify-content: flex-start;
}

.location img{
    height: 20px;
}

.profile_edit{
    display: flex;
    justify-content: flex-start;
}

.profile_edit img{
    height: 20px
}